:root {
    --primary-blue-color: #3139FB;
    --primary-red-color: #FF3333;
    --primary-yellow-color: #FFB223;
    --secondary-blue-color: #0047FF;

    --primary-text-color: #FFFCEC;
    --secondary-text-color: #FFB223;
    --primary-subtitle-color: #696969;

    --primary-background-color: #3139FB;
    --secondary-background-color: #FFFCEC;

    --primary-font: 'Plus Jakarta Sans', sans-serif;
    --secondary-font: 'Plus Jakarta Sans', sans-serif;
    --third-font: 'Plus Jakarta Sans', sans-serif;
}

::selection {
    background-color: yellow; /* Couleur de fond lors de la sélection */
    color: black; /* Couleur du texte lors de la sélection */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    list-style: none;
    text-decoration: none;
}

/* Navbar */

img {
    margin-left: 10px;
    width: 70%;
    display: block;
    margin-top: 5px;
}

.active {
    color: var(--primary-red-color) !important;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
}

.navbar {
    width: 75%;
    height: 85px;
    background-color: var(--primary-background-color);
    display: flex;
    align-items: center;
    flex-direction: space-between;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.links-list {
    margin-top: 5px;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 35px;
    width: 90%;
}

.links-list a {
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 0 10px;
}

.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50px;
}

.visit-btn--1 {
    background-color: var(--secondary-background-color);
    border: none;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    color: var(--primary-blue-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-left: auto;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.visit-btn--1:hover {
    scale: 1.1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.detail-nav {
    width: 100%;
    height: 13px;
    background-image: url('../Import/wave.png');
    background-size: cover;
    background-position: center;
}

/* Mobile */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color);
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.overlay p {
    color: var(--primary-text-color);
    font-size: 24px;
    text-align: center;
    margin-top: 50%;
}

/* Mobile Navbar */
.navbar-toggle-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
}

.navbar-toggle-icon span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: var(--secondary-background-color);
    margin-bottom: 5px;
    border-radius: 3px;
}

.navbar-toggle-icon-toggle {
    margin-top: 8px;
    margin-right: 10px;
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 17px;
    cursor: pointer;
}

.navbar-toggle-icon-toggle span:before,
.navbar-toggle-icon-toggle span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--secondary-background-color);
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

.navbar-toggle-icon-toggle span:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.navbar-toggle-icon-toggle span:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: 50px;
    }

    .navbar-toggle-icon {
        display: block;
    }

    .links-list {
        display: none;
    }

    .links-list.active {
        display: block;
    }

    .links-list-mobile {
        top: 0;
        left: 0;
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links-list-mobile a {
        text-align: center;
        margin-bottom: 15px;
        color: var(--primary-text-color);
        font-size: 32px;
        font-weight: 900;
        letter-spacing: -0.05em;
    }

    .logo {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-left: 15px;
        margin-top: 0px;
        width: 45px;
    }

    .visit-btn--1 {
        display: none;
    }
}
